<h3>{{ user.firstName }}'s Profile</h3>
<hr>
<label>
  <input type="text" placeholder="Create new wish list">
  <button type="submit">Submit</button>
</label>
<hr>
<h4>Wish lists</h4>
<!-- Below are several hard-coded wish lists that are here to show overall visual presentation but will eventually come from the database. -->
<ul class="list-group">
  <li class="list-group-item list-group-item-light list-group-item-action">
    <a routerLink="#">Wish List 1</a>
  </li>
  <li class="list-group-item list-group-item-light list-group-item-action">
    <a routerLink="#">Wish List 2</a>
  </li>
  <li class="list-group-item list-group-item-light list-group-item-action">
    <a routerLink="#">Wish List 3</a>
  </li>
</ul>
<hr>
<p>
  <em>User Details</em><br>
  First Name: {{ user.firstName }}<br />
  Last Name: {{ user.lastName }}<br />
  Username: {{ user.userName }}<br />
  Logged In: {{ userService.loggedIn }}
</p>